body{
    background:
            url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}
.container{
    margin-top: 200px;
}
.jumbotron{
    background: yellow;
    color:red;
    border: 2px solid green;
}
img{
    height:200px;
    width:30%;
    float:left;
    margin:1.5%;
    border:2px solid red;
}
.imagesb{
    border: 3px solid red;
}

h1{
    color: white;
    text-align: center;
    background: red;
}

table,th,tr,td{
    color: yellow;
    border: 2px solid white;
    font-size: 20px;
    margin: auto;
    background: red;
}

thead,th{
    color: white;
    border: 2px solid white;
    font-size: 20px;
    margin: auto;
    background: blue;
}

table tr:nth-of-type(even)
{
    background: #f4c242;
}